:root{
  --primary-light: #ebe4ff;
   --primary-main: #673de6;
  --primary-dark: #5025d1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  position: relative;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.ql-container.ql-snow{
  min-height: 10rem;
}